*.log
*.lock
*.zip
*.class
*.prefs
*.project
*.classpath
*.settings/*
*.bin/*
*.project
*.classpath
*tests/*.jar
.recommenders/*
.metadata/*
bin/*
pull.sh
push.sh
.idea/*
*.iml
*.bat
*.txt
**/Main.java